body {
    min-width: 250px;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 80%;
	justify-content: space-between;
}

.header > * {
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.title {
    font-size: 22pt;
}

.stream-container {
    display: grid;
    grid-gap: 24px;
	grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    list-style: none;
    margin-top: 3em;
}

.stream-focus {
    grid-column: 1 / -1;
    align-self: center;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stream-focus > img {
    width: 100%;
    display: block;
}

.stream-focus > p {
	text-align: center;
}

.stream-thumb {
	height: 280px;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 16px 0 rgba(0, 0, 0, 0.19);
}

.stream-thumb > img {
    width: 100%;
    height: 90%;
	object-fit: cover;
    display: block;
}

.stream-thumb > p {
    height: 20px;
    display: none;
}
